.btn-cont {
  display: inline-block;
}
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  border: 1px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
}

.exercise {
  cursor: pointer;
}
.exercise > .time {
  padding: 0 1em;
  color: #adadad;
}
.exercise > .reps {
  padding: 0 2em;
  font-style: italic;
}
.exercise > .weight {
  font-weight: bold;
}

.selected {
  font-size: 2em;
}
.timer {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
}

#chime {
  display: none;
}
